<html>
    <head>
        {{op.donate_name}}<br>
    </head>
    {{op.description}}<br>
    <div class="row">
        <div class="col">
            <form action="{% url 'submitDonation' op.id}" method=POST>
                <h3> Donate Now! </h3>
                Card Number:
                <input type="text" id="card-number" name="card-number"><br>
                <button type="submit" value="5"> Donate $5 </button>
                <button type="submit" value="10"> Donate $10 </button>
                <button type="submit" value="20"> Donate $20 </button><br>
                <input type="text" id="custom-amt" name="custom-amt"><br>
                <button type="submit" value="other"> Custom Amount </button>
            </form>
        </div>
        <div class="col">

        </div>
    </div>
</html>