{% load socialaccount %}
<html>
  <head>
    <title>Google Registration</title>
  </head>
  <body>
  <h1>My Google Login Project</h1>
  {% if user.is_authenticated %}
  <p>Welcome, {{ user.username }} !</p>
 
  {% else %}
  <h1>Google Login</h1>
  <a href="{% provider_login_url 'google' %}">Login with Google</a>
  {% endif %}

  </body>
</html>

<!-- create google login when pull form form
another from google login: pull more info from tutor fields 
pull those fields for models
call both of those forms for views -->

<!-- catherine had a model in a model with 1-to-1 -->